body {
   text-align: center;
}

#wrapper {
   text-align: left;
   margin: 50px 0;
}

table {
   border: 1px solid black;
   border-collapse: collapse;
   margin: 50px auto;
}

table thead td {
   border: 1px solid red;
   width: 25px;
   height: 25px;
}

table tbody td {
   border: 1px solid black;
   width: 25px;
   height: 25px;
}